/* latin-ext */
@font-face {
     font-family: 'Passion One';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/passionone/v11/PbynFmL8HhTPqbjUzux3JEuf9lvC6poUgWY.woff2) format('woff2');
     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
     font-family: 'Passion One';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/passionone/v11/PbynFmL8HhTPqbjUzux3JEuR9lvC6poU.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
     font-family: 'Patua One';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/patuaone/v11/ZXuke1cDvLCKLDcimxB44_luFgxbuQ.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Anton';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/anton/v15/1Ptgg87LROyAm3K8-C8QSw.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
     font-family: 'Anton';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/anton/v15/1Ptgg87LROyAm3K9-C8QSw.woff2) format('woff2');
     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
     font-family: 'Anton';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/anton/v15/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
     font-family: 'Paytone One';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTigPvNiA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
     font-family: 'Paytone One';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTjgPvNiA.woff2) format('woff2');
     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
     font-family: 'Paytone One';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTtgPs.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.first {
     background-color: aqua;
}

.ct {
     display: inline-block;
}

.cts {
     display: inline-block;
}

.av-radio {
     cursor: pointer;
}

.av-bottom-capa {
     cursor: pointer;
     width: 200px;
     height: 200px;
     border-radius: 10px;
}

.av-aspect-ratio {
     visibility: hidden;
     transition: .5s ease;
     position: absolute;
     margin-top: 10px;
     margin-left: -40px;
     font-size: 20px;
     cursor: pointer;
     color: rgba($color: #ffffff, $alpha: 0.8)
}

.av-play {
     visibility: hidden;
     transition: .5s ease;
     position: absolute;
     margin-top: -32px;
     margin-left: 6px;
     cursor: pointer;
     color: rgba($color: #ffffff, $alpha: 0.8)
}

.av-opt-list {
     visibility: hidden;
     transition: .5s ease;
}

.gn-play {
     visibility: visible;
     transition: .5s ease;
     position: absolute;
     margin-top: -65px;
     margin-left: -20px;
     cursor: pointer;
     font-size: 60px;
     color: rgba($color: #ffffff, $alpha: 0.8)
}

.gn-play-list {
     visibility: hidden;
     transition: .2s ease;
     position: absolute;
     height: 150px;
     width: 150px;
     border-radius: 150px;
     justify-content: flex-end;
     align-items: center;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     background-color: rgba($color: black, $alpha: 0.5)
}

.color-text-toolbar {
     color: rgba($color: white, $alpha: 0.5)
}

.color-text-toolbar:hover {
     color: rgba($color: white, $alpha: 1)
}

.cts:hover .av-opt-list {
     visibility: visible;
}

.ct:hover .av-play {
     visibility: visible;
}


.ct:hover .gn-play-list {
     visibility: visible;
}

.ct:hover .av-aspect-ratio {
     visibility: visible;
}

.imagemback1 {
     background-image: url("/img/back-play-1.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 40%;
}

.imagemback2 {
     background-image: url("/img/back-play-2.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 40%;
}

.imagemback3 {
     background-image: url("/img/back-play-3.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 40%;
}

.imagemback4 {
     background-image: url("/img/back-play-4.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 40%;
}