
.first {
     background-color: aqua;
}

.ct {
     display:inline-block; 
}

.cts {
     display:inline-block; 
}

.av-radio {
     cursor: pointer;
}

.av-bottom-capa {
     cursor: pointer;
     width: 200px;
     height: 200px;
     border-radius: 10px;
}

.av-aspect-ratio {
     visibility: hidden;
     transition: .5s ease;
     position: absolute;
     margin-top: 10px;
     margin-left: -40px;
     font-size: 20px;
     cursor: pointer;
     color: rgba($color: #ffffff, $alpha: 0.8)
}

.av-play {
     visibility: hidden;
     transition: .5s ease;
     position: absolute;
     margin-top: -32px;
     margin-left: 6px;
     cursor: pointer;
     color: rgba($color: #ffffff, $alpha: 0.8)
}

.av-opt-list {
     visibility: hidden;
     transition: .5s ease;
}

.gn-play {
     visibility: hidden;
     transition: .5s ease;
     position: absolute;
     margin-top: -65px;
     margin-left: -20px;
     cursor: pointer;
     color: rgba($color: #ffffff, $alpha: 0.9)
}

.gn-play-list {
     visibility: hidden;
     transition: .2s ease;
     position: absolute;
     height: 150px;
     width: 150px;
     border-radius:  150px;
     justify-content: flex-end;
     align-items: center;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     background-color: rgba($color: black, $alpha: 0.5)
}

.cts:hover .av-opt-list {  
     visibility: visible;
}

.ct:hover .av-play {  
     visibility: visible;
}

.ct:hover .gn-play {  
     visibility: visible;
}

.ct:hover .gn-play-list {  
     visibility: visible;
}

.ct:hover .av-aspect-ratio {  
     visibility: visible;
}

